$mainColor: #000000;
$black: #02141c;
$grey: #cccdcd;
$background: #3556641a;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
  color: $black;
  font-size: 14px;
  // outline: 1px dotted red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0 4%;
}

.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  max-width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-cont {
  width: 100%;
}

.delete-todo-btn {
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-input-container {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 10px;

    input[type="text"] {
      width: 100%;
      padding: 0 10px;
    }

    .add-btn {
      @extend .btn;
      background-color: $mainColor;
      color: white;
    }
  }

  .heading {
    text-align: center;
    padding: 8px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $background;
  }

  .pending-todo-container {
    width: 100%;
    background-color: $background;
    color: $mainColor;
    display: flex;
    flex-direction: column;
    height: max-content;

    .todo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      border-bottom: #02141c13 solid 0.1px;
      gap: 10px;

      a {
        text-decoration: none;
      }

      .left-side {
        display: flex;
        gap: 10px;

        .todo-name {
          font-weight: 400;
        }
      }
    }
  }

  .completed-todo-container {
    @extend .pending-todo-container;
    height: max-content;

    li .todo-name {
      text-decoration: line-through;
    }
  }
}

@media screen and (min-width: 750px) {
  body {
    padding: 0 7%;
  }
  main {
    width: 100%;

    .main-cont {
      flex-direction: row;
    }
    .add-input-container {
      input[type="text"] {
        width: 600px;
      }
    }
  }
}
